/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #222;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
    grid-template-columns: 100%;
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
}

.header-content {
    padding: 1rem;
}

.navigation {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content Styles */
.content-container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Main Content : Aside Content */
    gap: 1rem;
    padding: 1rem;
}

.main-content {
    background-color: #ddd;
    padding: 1rem;
}

.aside-content {
    background-color: #eee;
    padding: 1rem;
}

/* Footer Styles */
.footer-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}